# =========================
# Java / Maven
# =========================
**/target/
*.log

# =========================
# Node / React
# =========================
**/node_modules/
**/dist/

# =========================
# Environment
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db